@import "../../style/variables.scss";

.signup {
    &__title {
        flex-direction: column;
        &-header {
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 8px;
        }
        &-text {
            font-weight: 400;
            font-size: 16px;
        }
    }

}