@import "../../style/variables.scss";

.terms {
    font-size: 14px;
    font-weight: 400;
    color: $gray2;
    a {
        color: $blue1;
        &:hover {
            color: $blue1;
            opacity: 0.8;
        }
    }
}