@import "../../../style/variables.scss";

.checkbox {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: #E0E0E0;
  position: relative;
  cursor: pointer;
  margin-top: 5px;
  &-checkmark {
    height: 12px;
    width: 12px;
    left: 1px;
    top: 2px;
    line-height: 12px;
    position: absolute;
    color: #E0E0E0;
    background-color: inherit;
    user-select: none;
  }
  input {
    width: 16px;
    height: 16px;
    visibility: hidden;
  }
}

.help {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.checked {
  background-color: #2F80ED;
  color: #fff;
}

.validated {
  color: green;
}

.MuiTextField-root{
  border: "1px solid #BDBDBD";
  div {
    border-radius: 8px;
  }
  input {
    padding: 12.5px 14px;
  }   
}

